<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="all()">
                <ion-icon name="color-wand"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="event" *ngFor="let event of events">
        <ion-list-header>
            <ion-title>{{event.name}}</ion-title>
            <button ion-button item-right (click)="event.go()">GO</button>
        </ion-list-header>
        <ion-item *ngFor="let key of event.paramKeys">
            <ion-label floating>{{key}}</ion-label>
            <ion-input [(ngModel)]="event.params[key]"></ion-input>
        </ion-item>

        <div *ngFor="let flexible of event.flexibles">
            <div class="flexible-box" *ngIf="flexible !== null">
                <div class="flexible" *ngFor="let kv of flexible; let i = index">
                    <button ion-button icon-only color="danger" (click)="flexible.splice(i, 1)">
                        <ion-icon name="remove"></ion-icon>
                    </button>
                    <ion-item>
                        <ion-label floating>key</ion-label>
                        <ion-input [(ngModel)]="kv.key"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>value</ion-label>
                        <ion-input [(ngModel)]="kv.value"></ion-input>
                    </ion-item>
                </div>
                <button ion-button icon-only color="secondary" (click)="flexible.push({ key: 'newKey', value: 'newValue' })">
                    add
                    <ion-icon name="add"></ion-icon>
                </button>
            </div>
        </div>
    </ion-list>
</ion-content>
