<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar>
            <ion-title>{{menuTitle}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item *ngFor="let p of pages" menuClose (click)="openPage(p)">
                <ion-icon name="{{p.icon}}" item-left></ion-icon>
                {{p.title}}
            </ion-item>
            <button danger ion-item *ngIf="isDevel" (click)="crash()">Crash</button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
